## Imports

In [58]:
import os
from datetime import datetime

import pandas as pd

import matplotlib
import matplotlib.pyplot as plt

import seaborn as sns

matplotlib.rcParams['figure.figsize'] = (20, 10)

## Load data

In [2]:
data_root = os.path.join('..', 'data', 'main')

In [3]:
data = pd.read_csv(os.path.join(data_root, "fact_train_test.csv"), sep=";", decimal=",", encoding="windows-1251")
data["period"] = data["period"].astype("datetime64[ns]")

In [4]:
data.head()

,period,rps,podrod,filial,client_sap_id,freight_id,sender_station_id,recipient_station_id,sender_organisation_id,real_weight,real_wagon_count
0,2012-07-01,1,5,1,328,1193,30252,13005,10036,71.0,1
1,2012-10-01,1,5,1,328,1193,30252,11376,10036,210.0,3
2,2014-03-01,0,1,1,328,3472,30252,29548,10036,67.0,1
3,2014-03-01,0,1,1,328,3472,30252,29158,10036,67.0,1
4,2014-03-01,0,2,1,328,3472,30252,27484,10036,66.0,1

## Preprocess data

In [5]:
def add_master_data_mappings(df: pd.DataFrame) -> pd.DataFrame:
    # = Пути к справочникам - откорректировать если в реальной системе будут лежать по другому адресу =
    client_mapping_file = os.path.join(data_root, "client_mapping.csv")
    freight_mapping_file = os.path.join(data_root, "freight_mapping.csv")
    station_mapping_file = os.path.join(data_root, "station_mapping.csv")

    # Клиент - холдинг
    client_mapping = pd.read_csv(
        client_mapping_file,
        sep=";",
        decimal=",",
        encoding="windows-1251",
    )
    df = pd.merge(df, client_mapping, how="left", on="client_sap_id")

    # Груз
    freight_mapping = pd.read_csv(
        freight_mapping_file, sep=";", decimal=",", encoding="windows-1251"
    )
    df = pd.merge(df, freight_mapping, how="left", on="freight_id")

    # Станции
    station_mapping = pd.read_csv(
        station_mapping_file,
        sep=";",
        decimal=",",
        encoding="windows-1251",
    )
    df = pd.merge(
        df,
        station_mapping.add_prefix("sender_"),
        how="left",
        on="sender_station_id",
    )
    df = pd.merge(
        df,
        station_mapping.add_prefix("recipient_"),
        how="left",
        on="recipient_station_id",
    )

    return df

In [6]:
extended_data = add_master_data_mappings(data)

In [7]:
extended_data.head()

,period,rps,podrod,filial,client_sap_id,freight_id,sender_station_id,recipient_station_id,sender_organisation_id,real_weight,real_wagon_count,holding_name,freight_group_name,sender_department_name,sender_railway_name,recipient_department_name,recipient_railway_name
0,2012-07-01,1,5,1,328,1193,30252,13005,10036,71.0,1,1423.0,21,153,12,75,4
1,2012-10-01,1,5,1,328,1193,30252,11376,10036,210.0,3,1423.0,21,153,12,99,23
2,2014-03-01,0,1,1,328,3472,30252,29548,10036,67.0,1,1423.0,30,153,12,16,11
3,2014-03-01,0,1,1,328,3472,30252,29158,10036,67.0,1,1423.0,30,153,12,118,11
4,2014-03-01,0,2,1,328,3472,30252,27484,10036,66.0,1,1423.0,30,153,12,94,39

In [8]:
extended_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3559232 entries, 0 to 3559231
Data columns (total 17 columns):
 #   Column                     Dtype
---  ------                     -----
 0   period                     datetime64[ns]
 1   rps                        int64
 2   podrod                     int64
 3   filial                     int64
 4   client_sap_id              int64
 5   freight_id                 int64
 6   sender_station_id          int64
 7   recipient_station_id       int64
 8   sender_organisation_id     int64
 9   real_weight                float64
 10  real_wagon_count           int64
 11  holding_name               float64
 12  freight_group_name         int64
 13  sender_department_name     int64
 14  sender_railway_name        int64
 15  recipient_department_name  int64
 16  recipient_railway_name     int64
dtypes: datetime64[ns](1), float64(2), int64(14)
memory usage: 461.6 MB

In [9]:
def fix_types(df: pd.DataFrame):
    col_type_dict = {
        'rps': 'int8',
        'podrod': 'int8',
        'filial': 'int8',
        'client_sap_id': 'int16',
        'freight_id': 'int16',
        'sender_station_id': 'int32',
        'recipient_station_id': 'int32',
        'sender_organisation_id': 'int32',
        'real_weight': 'float64',
        'real_wagon_count': 'int32',
        'holding_name': 'int16',
        'freight_group_name': 'int8',
        'sender_department_name': 'int8',
        'sender_railway_name': 'int8',     
        'recipient_department_name': 'int8',     
        'recipient_railway_name': 'int8', 
    }

    for col_name, col_type in col_type_dict.items():
        df[col_name] = df[col_name].astype(col_type)

    return df

In [10]:
extended_data

,period,rps,podrod,filial,client_sap_id,freight_id,sender_station_id,recipient_station_id,sender_organisation_id,real_weight,real_wagon_count,holding_name,freight_group_name,sender_department_name,sender_railway_name,recipient_department_name,recipient_railway_name
0,2012-07-01,1,5,1,328,1193,30252,13005,10036,71.0,1,1423.0,21,153,12,75,4
1,2012-10-01,1,5,1,328,1193,30252,11376,10036,210.0,3,1423.0,21,153,12,99,23
2,2014-03-01,0,1,1,328,3472,30252,29548,10036,67.0,1,1423.0,30,153,12,16,11
3,2014-03-01,0,1,1,328,3472,30252,29158,10036,67.0,1,1423.0,30,153,12,118,11
4,2014-03-01,0,2,1,328,3472,30252,27484,10036,66.0,1,1423.0,30,153,12,94,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3559227,2023-03-01,1,5,2,1346,1482,31438,31482,0,69.0,1,2226.0,22,73,14,143,35
3559228,2023-03-01,1,5,2,1346,1492,31438,36091,27275,70.0,1,2226.0,22,73,14,79,10
3559229,2023-03-01,1,5,2,1346,1492,31438,35450,27275,70.0,1,2226.0,22,73,14,104,10
3559230,2023-03-01,1,5,2,1346,1492,31438,31482,0,207.0,3,2226.0,22,73,14,143,35
3559231,2023-03-01,1,5,2,1346,1492,31438,31482,25816,0.0,1,2226.0,22,73,14,143,35

In [11]:
extended_data.loc[extended_data['holding_name'].isna(), 'holding_name'] = -1 
extended_data = fix_types(extended_data)

In [13]:
extended_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3559232 entries, 0 to 3559231
Data columns (total 17 columns):
 #   Column                     Dtype
---  ------                     -----
 0   period                     datetime64[ns]
 1   rps                        int8
 2   podrod                     int8
 3   filial                     int8
 4   client_sap_id              int16
 5   freight_id                 int16
 6   sender_station_id          int32
 7   recipient_station_id       int32
 8   sender_organisation_id     int32
 9   real_weight                float64
 10  real_wagon_count           int32
 11  holding_name               int16
 12  freight_group_name         int8
 13  sender_department_name     int8
 14  sender_railway_name        int8
 15  recipient_department_name  int8
 16  recipient_railway_name     int8
dtypes: datetime64[ns](1), float64(1), int16(3), int32(4), int8(8)
memory usage: 156.1 MB

In [47]:
extended_data.to_csv(os.path.join('..', 'data', 'train', 'extended_dataset.csv'), index=False)

## Data description

In [41]:
data_desc = pd.read_excel(os.path.join(data_root, 'Описание данных для хакатона - прогноз ЖД перевозок.xlsx')).iloc[1:]
data_desc = pd.DataFrame(data=data_desc.iloc[1:].values, columns=data_desc.iloc[0].values)
pd.set_option('display.width', 1000)
pd.set_option('max_colwidth', 1000)

In [42]:
data_desc

                      Поле Тип данных                                                        Описание
0                   period       date  Месяц предъявления отправки к перевозке в формате "YYYY-MM-DD"
1                      rps    integer                                          Род Подвижного Состава
2                   podrod    integer                                       Подрод Подвижного Состава
3                   filial    integer                                                   Филиал "ПГК"
4            client_sap_id    integer                                                 Код отправителя
5               freight_id    integer                                                       Код груза
6        sender_station_id    integer                                          Код пункта отправления
7     recipient_station_id    integer                                           Код пункта назначения
8   sender_organisation_id    integer                             Код погрузочно-выгрузочного пункта
9              real_weight      float              Суммарный вес фактически перевезенного груза, тонн
10        real_wagon_count    integer                  Суммарное фактическое число вагоноотправок, шт

In [44]:
data.describe()

                              period           rps        podrod        filial  client_sap_id    freight_id  sender_station_id  recipient_station_id  sender_organisation_id   real_weight  real_wagon_count
count                        3559232  3.559232e+06  3.559232e+06  3.559232e+06   3.559232e+06  3.559232e+06       3.559232e+06          3.559232e+06            3.559232e+06  3.559232e+06      3.559232e+06
mean   2020-01-01 04:50:29.038176256  5.979641e-01  3.338106e+00  1.148843e+00   3.865685e+02  1.712424e+03       2.628122e+04          2.598168e+04            1.499681e+04  1.349654e+03      1.988760e+01
min              2012-07-01 00:00:00  0.000000e+00  0.000000e+00  0.000000e+00  -1.000000e+00  0.000000e+00       0.000000e+00          0.000000e+00            0.000000e+00 -6.000000e+00      0.000000e+00
25%              2018-06-01 00:00:00  0.000000e+00  2.000000e+00  1.000000e+00  -1.000000e+00  1.059000e+03       1.427200e+04          1.373100e+04            7.856000e+03  6.500000e+01      1.000000e+00
50%              2020-01-01 00:00:00  1.000000e+00  5.000000e+00  1.000000e+00   1.080000e+02  1.622000e+03       3.051900e+04          3.079000e+04            1.202600e+04  1.300000e+02      2.000000e+00
75%              2021-08-01 00:00:00  1.000000e+00  5.000000e+00  1.000000e+00   6.010000e+02  2.219000e+03       3.519600e+04          3.519600e+04            2.201100e+04  3.990000e+02      6.000000e+00
max              2023-03-01 00:00:00  1.000000e+00  9.000000e+00  2.000000e+00   2.417000e+03  5.086000e+03       3.912300e+04          3.912300e+04            3.453600e+04  8.204350e+05      1.180900e+04
std                              NaN  4.903092e-01  1.964952e+00  5.305394e-01   5.398728e+02  1.029591e+03       1.110980e+04          1.146103e+04            8.048006e+03  9.062866e+03      1.301516e+02

In [45]:
data.shape

(3559232, 11)

**Особенности данных**

`rps` - имеет 2 значения (большие и малые вагоны)

`podrod` - имеет 7 различных значений

`filial` - имеет 2 уникальных значения

`real_weight` - имеет выбросы (от -6 до -1)

In [ ]:
sns.barplot(data.rps)

KeyboardInterrupt:

Error in callback <function _draw_all_if_interactive at 0x7f494ec0be20> (for post_execute), with arguments args (),kwargs {}:

KeyboardInterrupt